* {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --header-h: 50px;
}
#header {
    position:absolute;
    background-color: #1b1630;
    color: white;
    display: grid;
    width:100%;
    z-index: 7;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: var(--header-h);
    font-size: 20px;
    gap: 10px;
}
#header > * {
    z-index: 7;
}
#header .register-frame {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    font-size: 20px;
}
#header .header-button {
    display:flex;
    background-color: #1b1630;
    color: rgb(202, 187, 214);
    width: 100%;
    height: calc(0.9*var(--header-h));
    font-size: 13pt;
    border-radius: 8px;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:0.2s;
    text-decoration: none;
    text-align: center;
}
#header>.header-button:first-child {
    width: calc(0.95*var(--header-h));
    height: calc(0.95*var(--header-h));
    background: url(../img/icons8-bowling-53.png) no-repeat;
    border-radius: 100%;
    background-size: 80% 80%;
    background-position: center center;
    cursor:pointer;
    justify-self: center;
    align-self: center;
    transition:0.2s;
}
#header .register-frame:first-child
{
    margin-left:10px;
}

#header .header-button:first-child:hover {
    background-color:rgba(255, 0, 238, 0.308);
}
#header .header-button:not(:first-child):hover, #header .register-frame .header-button:hover {
    background-color:rgba(195, 0, 255, 0.253);
    color: rgb(162, 0, 255);
}
body::-webkit-scrollbar {
    display:none
}
#index-bg {
    height: calc(100vh - 80px);
    background: url("../img/bg.png") no-repeat;
    background-size: cover;
}
.form-name {
    font-size: 2em;
    padding: 20px;
}

.container-500 {
    display:flex;
    background-color: rgb(51, 45, 48);
    align-items: center;
    justify-content: center;
    
    color:rgb(179, 184, 194);
}
.col-flex {
    display:flex;
    flex-direction: column;
}
ul {
    list-style: none;
}

.submenu-standart {
    background: #1b1630;
    position: absolute;

    top: -100%;
    opacity: 0;
    z-index: 0;
    padding-left:20px;
    padding-right:20px;
    visibility: hidden;
    transition: .5s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.submenu-standart > li {
    display:flex;

    align-items: center;
    justify-content: center;
    width:fit-content;
    height: 50px;
    width:100%;

}
.submenu-standart > li:last-child:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.submenu-standart > li:hover > a {
    color:rgb(153, 0, 255);
}
.submenu-standart > li > a {
    text-decoration: none;
    color:rgb(108, 68, 148);
}
.dropdown-standart {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.top-menu:hover .submenu-standart {
    opacity: 1;
    top: var(--header-h);
    visibility: visible;
    
}
.top-menu > li:hover .submenu-standart {
    opacity: 1;
    top:var(--header-h);
    visibility: visible;
    
}

input {
    width: 300px;
    height:35px;
    border:0;
    background-color:rgb(179, 184, 194);
    border-radius: 2px;
    font-size:16px;
}
input:focus {
    outline:0;
}
.order-form {
    display:grid; 
    grid-template-columns: 40% 60%;
    gap: 10px;
}
.order-form p {
    display:flex;
    justify-content: right;
    align-items: center;
}
.order-form button {
    width: 150px;
    height:35px;

    grid-column: span 2; 
    align-self: center; 
    font-size:18px;
    justify-self: center;
}
#turnir {
}
.w-100perc {
    width:100%;
} 
.h-100perc {
    height:100%;
}

.btn {
    text-decoration: none;
    color: rgb(179, 184, 194);
    padding:10px;
    border-radius: 5px;
    background-color: #241f1e;
    border: 1px solid rgba(140, 0, 182, 0.541); 
    color: rgb(93, 74, 99);
    cursor:pointer;
    transition: 0.2s;
} 
.btn:hover {
    background-color:rgba(195, 0, 255, 0.253);
    color:rgb(185, 0, 209);
    
}
.btn:active {
    background-color: #751a7e;
    color: rgb(222, 0, 230);
}
input[type=number] {
    width: 50px;
}
.text-placement {
    
    min-height:100%;
    border-left: 1px solid rgba(255, 255, 255, 0.12);
    border-right: 1px solid rgba(255, 255, 255, 0.12);
    background:rgb(48, 45, 43);    
    padding-left:5%;

    padding-right:5%;
    width:70%;
    font-size:20px;
}
#content {
    padding-top: var(--header-h);
}
#about {
}
a {
    text-decoration: none;
    color:#fff;
}
a:hover {
    color:#fff
}
#filials {
    font-size:20px;
    line-height: 30px;
}
#filial-map {
    width:1022px;
    height:700px;
    background: url(../img/filials.png) no-repeat;
    background-size: contain;
    border: 1px solid black;
}
.scalable {
    display:flex;
    min-height: calc(100vh - 80px);
    background-color: rgb(51, 45, 48);
    color:rgb(179, 184, 194);
    align-items: center;
    justify-content: center;
    
    background-color: rgb(40 35 45)
}
.inv-btn {
    background-color: rgb(93, 18, 163);
    color: rgb(255, 255, 255);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
    transition: color 0.3s, background-color 0.3s;
}
.inv-btn:hover {
    
    background-color: rgb(129, 38, 214);
    color: rgb(255, 255, 255);
}
.container-fullscreen {
    display:flex;
    height:calc(100vh - 80px);
    background-color: rgb(51, 45, 48);
    color:rgb(179, 184, 194);
    align-items: center;
    justify-content: center;
    
    background-color: rgb(40 35 45)
}
.form-container {
    display:grid;
    width:500px;    
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content;
    text-align: center;
}
.form-container > form {
    justify-self: center;
    align-self: center;
    width: 100%;
    border-radius: 5px;
}
.container-fullscreen p>a {
    color:#6062dd;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.tur-info {
    display:grid;
    width:100%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    
}

footer {
	background: rgb(48, 45, 43);
    
	border-top: 1px solid #6d6664;
	color: #dbdbdb;
	font-size: 11px;
    min-height:140px;
}

#footer {
    
    display:flex;
    justify-content: center;
    height:fit-content;
}

footer h3 {
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	border-bottom: 1px solid rgb(48, 45, 43);
	margin: 0 0 10px 0;
}

footer a {
	color: #dbdbdb;
}

#twitter time a {
	color: #b4aeae;
}

footer p {
	margin: 5px 0;
}

#twitter {
	float: left;
	width: 300px;
}

#twitter p {
	padding-right: 15px;
}

#sitemap {
	width: 150px;
	float: left;
	margin-left: 20px;
	padding-right: 15px;
}

#sitemap div {
	display: inline-block;
}

#sitemap div + div {
	margin-left: 40px;
}

#sitemap a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 5px;
}

#sitemap a:hover {
	text-decoration: underline;
}

#social {
	float: left;
	margin-left: 20px;
	width: 130px;
}

.social-icon {
	width: 30px;
	height: 30px;
	background: url(../img/social.png) no-repeat;
	display: inline-block;
	margin-right: 10px;
}

.social-icon-small  {
	width: 16px;
	height: 16px;
	background: url(../img/social-small.png) no-repeat;
	display: inline-block;
	margin: 5px 6px 0 0;
}

.twitter {
	background-position: 0 0;
}

.facebook {
	background-position: -30px 0;
}
button {
    border:0;
}
.google-plus {
	background-position: -60px 0;
}

.vimeo {
	background-position: 0 0;
}

.youtube {
	background-position: -16px 0;
}

.flickr {
	background-position: -32px 0;
}

.instagram {
	background-position: -48px 0;
}

.rss {
	background-position: -64px 0;
}

#footer-logo {
	float: right;
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
}

#twitter p {
	padding-right: 15px;
}
.grid2x3 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
}
.top-line {
    border-top: 1px solid rgb(179, 184, 194);
}
.right-line {
    border-right: 1px solid rgb(103, 94, 112);
}
.tur-info >.line {
    width: 80%;
    height:30px;
    border-bottom: 1px solid rgb(179, 184, 194);
    justify-self: center;
}
.tur-info >h3 {
    line-height: 2em;
}
h1, h2, h3, h4, h5 {
    font-weight: 500;
    text-align: center;
    line-height: 2em;
}

/*vertical items align at start*/
.flex-start {
    align-items: flex-start;
}
/*vertical items align at end*/
.flex-end {
    align-items: flex-end;
}

/*horizontal items align at left*/
.flex-left {
    justify-content: left;
}

/*horizontal items align at right*/
.flex-right {
    justify-content: right;
}
.flex {
    display: flex;
} 
/*horizontal centralization*/
.flexh-center {
    align-items: center;
    
}

/*vertical centralization*/
.flexv-center {
    justify-content: center;
}

/*vertical and horizontal centralization*/
.flex-center {
    justify-content: center;
    align-items: center;
}
.column-flex-direction {
    flex-direction: column;
}
.row-flex-direction {
    flex-direction: row;
}
form {
    display:grid;
    width:100%;
    gap: 15px;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
}

.error-feedback {
    color: rgb(196, 21, 21);
}

.abs-pos {
    position: absolute;
}
.rel-pos {
    position: relative;
}
.register-form {
    margin-bottom: 13px;
}
.auth-container * > li {
    margin-left: 4ch;
}
.error-field {

    padding: 5px 5px;
    border: 1px solid brown;
    border-radius: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: brown;
    background-color: rgb(109 12 12 / 22%);
}
.error {
    color: red;
    font-weight: bold;
}
